<ul class="nav-items">
	<li class="item">+ Add Portfolio</li>
	<li class="item">Portfolio 1</li>
	<li class="item">Portfolio 2</li>
	<li class="item">Portfolio 3</li>
	<li class="item">Portfolio 4</li>
</ul>