body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.app-container {
  height: 100%;
  overflow: auto;
}
.app-container .parent-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 90px;
}
.app-container .parent-container .container {
  height: 100%;
  margin-left: 260px;
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.main-header {
  background-color: #333c4e;
  width: 100%;
  height: 90px;
}
.main-header .logo {
  float: left;
  position: relative;
  color: white;
  font-size: 26px;
  line-height: 90px;
  margin-left: 40px;
}
.main-header .nav {
  background: #3e4960;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 90px;
  margin-left: 260px;
  padding-left: 40px;
  position: relative;
}
.main-header .nav li {
  display: inline-block;
  line-height: 90px;
  font-weight: light;
  font-size: 18px;
  margin-right: 40px;
  color: white;
  cursor: pointer;
}
.main-header .nav li:hover {
  color: #e9f0fa;
}
.main-header .nav li:after {
  content: " ";
  opacity: 0.6;
  height: 45px;
  margin-top: 22.5px;
  width: 1px;
  position: absolute;
  margin-left: 22.5px;
  background: #9eaec6;
}
.main-header .nav li:last-child:after {
  height: 0;
  width: 0;
}
.main-header .nav li .fa {
  margin-right: 5px;
}

.portfolio-container {
  height: 100%;
  overflow: auto;
}
.portfolio-container .portfolio {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: collapse;
}
.portfolio-container .portfolio th {
  text-align: left;
  font-weight: normal;
}
.portfolio-container .portfolio tr {
  cursor: pointer;
}
.portfolio-container .portfolio tr:first-child {
  color: #aeaeae;
}
.portfolio-container .portfolio tr:first-child th {
  padding-top: 15px;
}
.portfolio-container .portfolio tr:first-child th:first-child {
  padding-left: 20px;
}
.portfolio-container .portfolio tr:first-child th:last-child {
  padding-right: 20px;
}
.portfolio-container .portfolio tr td:first-child {
  padding-left: 20px;
}
.portfolio-container .portfolio tr td:last-child {
  padding-right: 20px;
}
.portfolio-container .portfolio tr:hover {
  background: #e9f0fa;
}
.portfolio-container .portfolio td,
.portfolio-container .portfolio th {
  padding: 10px;
  border-bottom: 1px solid #e9f0fa;
}
.portfolio-container .portfolio td.number,
.portfolio-container .portfolio th.number {
  text-align: right;
}
.portfolio-container .portfolio td.text,
.portfolio-container .portfolio th.text {
  text-align: left;
}

.side-view {
  width: 260px;
  height: 100%;
  background: #e9f0fa;
  float: left;
  overflow: auto;
}
.side-view .nav-items {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}
.side-view .nav-items li {
  padding: 20px;
  color: #9eaec6;
  font-weight: bold;
  border-bottom: 1px solid #e0e8f7;
  cursor: pointer;
}
.side-view .nav-items li:hover {
  background: #e0e8f7;
}
