@headerBackground: #333C4E;

.main-header {
    background-color: @headerBackground;
    width: 100%;
    height: 90px;

    .logo {
        float: left;
        position: relative;
        color: white;
        font-size: 26px;
        line-height: 90px;
        margin-left: 40px;
    }

    .nav {
        background: #3e4960;
        margin: 0;
        padding: 0;
        list-style: none;
        height: 90px;
        margin-left: 260px;
        padding-left: 40px;
        position: relative;

        li {
            display: inline-block;
            line-height: 90px;
            font-weight: light;
            font-size: 18px;
            margin-right: 40px;
            color: white;
            cursor: pointer;

            &:hover {
                color: #e9f0fa;
            }

            &:after {
                content: " ";
                opacity: 0.6;
                height: 45px;
                margin-top: 22.5px;
                width: 1px;
                position: absolute;
                margin-left: 22.5px;
                background: #9eaec6;
            }

            &:last-child:after {
                height: 0;
                width: 0;
            }

            .fa {
                margin-right: 5px;
            }
        }

    }

}